
$button_size: 75px;
body {
    background: #000;
    color: #aaa;
}
.number-button {
    height: $button_size;
    display: inline-block;
    line-height: $button_size - $button_size/5;
    width: $button_size;
    border: 5px solid #888;
    margin: 5px;
    font-size: $button_size * 0.7;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: #000;
    span {

        display: block;
        height: 100%;
        width: 100%;
        border: 2px solid #bbb;
    }
    // @include transition(0.5s all);
    &:active {
        background: gold;

    }
    // &.active {
    //     background: cyan;
    // }
    &:focus {
        outline: none;
    }
}

.back-button {
    color: #c00;
    font-size: $button_size * 0.5;
    position: absolute;
    top: 0;
    right:0;
    border: 1px solid red;
}
#keypad {
    margin: 25px auto;
    text-align: center;
}

.balance {
    font-size: $button_size * 0.7;
    position: relative;
    text-align: right;
    font-weight: bold;
    color: #fff;
    // width: 50%;
    // height: 70px;
    border: 3px solid #999;
    padding: 4px;
    margin: 10px auto;
}